<table>
    <tr>
        <td>cid</td>
        <td>衣物id</td>
    </tr>
    <tr>
        <td>name</td>
        <td>衣物名称</td>
    </tr>
    <tr>
        <td>price</td>
        <td>衣物价格</td>
    </tr>
    <tr>
        <td>image</td>
        <td>衣物单价</td>
    </tr>
    <tr>
        <td>number</td>
        <td>衣物数量</td>
    </tr>
</table>
<p></p>

{% for cloth in clothes %}
    <table>
        {% for k,v in cloth.items %}
        <tr>
            <td>{{ k }}</td>
            <td>{{ v }}</td>
        </tr>
        {% endfor %}
    </table>
    <p></p>
{% empty %}
    <li>没有衣物</li>
{% endfor %}
