{% block title %}重置密码{% endblock %}
{% block content %}

{% if validlink %}

<p>请输入两次您的新密码。</p>

<form action="" method="post">
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">新密码:</label>{{ form.password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">再次输入:</label>{{ form.password2 }}</p>
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}
<p><input type="submit" value="Change my password" /></p>
</form>

{% else %}

<p>密码重置链接无效，也许因为已经被使用了。请再请求一个新的吧，么么哒~</p>

{% endif %}

{% endblock %}
