<div style="background-color:#fff;margin:0 15px;padding:30px 25px">
    您已请求重置您的密码。
    <p style="font-size:14px;margin:15px 0 20px 0;font-weight:bold"></p>
    <div><a href="{{ reset_url }}" style="padding:6px 20px;font-size:14px;background:#02afec;border-radius:2px;color:#fff;text-decoration:none;font-weight:bold" target="_blank">重置密码</a></div>
    <p style="margin:30px 0 3px 0;font-size:12px">如果点击无效，请复制下方网页地址到浏览器地址栏中打开：</p>
    <p style="color:#808080;margin:3px 0 0 0;font-size:12px"><a href="{{ reset_url }}" target="_blank">{{ reset_url }}</a></p>
</div>
