{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>

{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}
<div class="container">
  <div class="input-group input-group-lg">
    <input name="bid" id="bid-txt" type="text" placeholder="订单号" class="form-control" required autofocus>
    <span class="input-group-btn">
        <button class="btn btn-primary" id='query-btn'>查询订单</button>
    </span>
  </div><!-- .input-group -->
</div>
<div id="bill-detail" class="container">
    <div class="panel panel-primary">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <table id='bill-tbl'>
                <tr class="row" style="display:none">
                    <td class="col-md-4"></td>
                    <td class="col-md-8"></td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-2">
                <span class="input-group-addon"><input type="checkbox" id='clear_shop-ckb'>
                    <span class="label label-default">查询不清除选中店铺</span>
                </span>
            </div>
            <div class="col-lg-4">
                <div class="dropdown" id='shop-dp' align="right">
                    <button id="dropdown_shop-btn" class="btn btn-info dropdown-toggle"  type="button" data-toggle="dropdown" aria-expanded="false">
                        选择取到衣物店铺
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdown_shop-btn">
                        <li role="presentation" style="display:none"><a data-target="#" role="menuitem" tabindex="-1"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="input-group input-group-lg">
            <input id="shop_comment-txt" class="form-control" type="text" name="shop_comment-txt" placeholder="店铺备注，记录收到衣服是否有质量问题">
            <span class="input-group-btn">
                <button id="confirm_get-btn" class="btn btn-success" type="button">确认收衣</button>
            </span>
        </div>
    </div>
</div>

<div class="dropdown" id='clothes-dp' style="display:none">
    <button id="dropdown_clothes-btn" class="btn btn-info dropdown-toggle"  type="button" data-toggle="dropdown" aria-expanded="false">
        点击展开衣物信息
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown_clothes-btn">
        <li role="presentation" style="display:none"></li>
    </ul>
</div>
<script>
$('#query-btn').click(function(){
    tb = $('table#bill-tbl');
    // remove table and input
    tb.find('tr.row[style!="display:none"]').remove();
    $('input#shop_comment-txt').val('');
    if (!$('#clear_shop-ckb').is(':checked')){
        $('#dropdown_shop-btn').text('选择取到衣物店铺');
    }
    ajax_bill_query = jQuery.ajax({
        url: '../../../laundry/bill_query',
        type: 'POST',
        data: {bid: $('#bid-txt').val()},
    });
    ajax_bill_query.always(function(){
        js_bill_ret = JSON.parse(ajax_bill_query.responseText);
        console.log(js_bill_ret);
        if ('errmsg' in js_bill_ret){
            bootbox.alert(js_bill_ret[ 'errmsg' ]);
            return;
        }
        name_map = {
            'bid':      '订单号',
            'shop_name':    '收到店铺',
            'get_time_0':   '取衣时间',
            'return_time_0':   '送衣时间',
            'real_name':   '客户姓名',
            'phone':   '客户电话',
            'status':   '订单状态',
            'comment':   '客户留言',
            'total':      '总价',
            'clothes':      '衣物信息',
        }
        status_map = {
            '0':        '准备',
            '5':        '未支付',
            '10':        '订单确认中',
            '20':        '物流确认中',
            '25':        '取衣中',
            '30':        '洗衣中',
            '40':        '送衣中',
            '50':        '待评价',
            '60':        '订单完成',
            '-10':        '用户取消',
            '-15':        '管理员取消',
            '-20':        '发生错误',
        }

        for (name in name_map){
            tr = $('tr.row[style="display:none"]').clone();
            td_left = tr.find('td.col-md-4');
            td_right = tr.find('td.col-md-8');
            td_left.text( name_map[name] );
            td_right.text( js_bill_ret[name] );
            if ('comment' == name && '' == js_bill_ret[name])
                td_right.text('（空）');
            if ('status' == name){
                s_status = "（"+status_map[ js_bill_ret[name] ]+"）";
                td_right.text( td_right.text() + s_status );
            }
            if ('total' == name)
                td_right.text( '￥'+td_right.text());
            if ('clothes' == name){
                td_right.text('');
                clothes_dp = $('#clothes-dp[style="display:none"]').clone();
                clothes_ul = clothes_dp.find('ul');
                for (clothe_idx in js_bill_ret[name]){
                    it_cloth = js_bill_ret[name][clothe_idx];
                    clothes_li = clothes_dp.find('li[style="display:none"]').clone();
                    clothes_li.text(it_cloth['name'] + ' ￥' + it_cloth['price']
                            + '*' + it_cloth['number'] + '件 = ￥' + (it_cloth['price']*it_cloth['number']));
                    clothes_li.toggle();
                    clothes_ul.append(clothes_li);
                }
                td_right.append(clothes_dp);
                clothes_dp.toggle();
            }
            tr.toggle();
            tb.append(tr);
        }
        $('#shop_comment-txt').val(js_bill_ret['shop_comment'] || '');

    });
});
$('#confirm_get-btn').click( function(){
    var s_bid = js_bill_ret['bid'] || '0';
    var s_sid = $('#dropdown_shop-btn').attr('name') || '0';
    var i_status = js_bill_ret['status'] || '0';
    var s_shop_comment = $('#shop_comment-txt').val();
    if ('0' == s_bid){
        bootbox.alert('请查询一个有效的订单！');
        return;
    }
    if ('0' == s_sid){
        bootbox.alert('请选择一家收到衣服的店铺！');
        return;
    }
    if (i_status < 20 || i_status > 30){
        bootbox.alert('订单状态当前不需要确认');
        return;
    }
    ajax_confirm_get = jQuery.ajax({
        url: '../../../laundry/confirm_get',
        type: 'POST',
        data: {bid: s_bid, sid: s_sid, shop_comment: s_shop_comment,},
    });
    ajax_confirm_get.always( function(){
        js_ret = JSON.parse(ajax_confirm_get.responseText);
        console.log(js_ret);

        if ('errmsg' in js_ret){
            bootbox.alert(js_ret[ 'errmsg' ]);
            return;
        }
        if (0 == js_ret['errno']){
            bootbox.alert('确认收衣成功。');
        }
    });
});

$(document).ready( function(){
    ajax_own_shops = jQuery.ajax({
        url: '../../../laundry/own_shops',
        type: 'GET',
    });
    ajax_own_shops.always( function(){
        js_ret = JSON.parse(ajax_own_shops.responseText);
        console.log(js_ret);

        ul = $('div#shop-dp ul.dropdown-menu[role=menu]');
        for (idx in js_ret['data']){
            it_shop = js_ret['data'][idx];
            li = $('div#shop-dp li[role=presentation][style="display:none"]').clone();
            li.find('a').text(it_shop['name']).attr('name', it_shop['sid']);
            li.toggle();
            ul.append(li);
        }
        if (0 == js_ret['data'].length){
            li = $('div#shop-dp li[role=presentation][style="display:none"]').clone();
            li.find('a').text('暂无店铺，请刷新页面或与管理员联系');
            li.addClass('disabled');
            li.toggle();
            ul.append(li);
        }
    });

});

$('div.dropdown ul').on('click', 'li a', function(){
    var s_sel = $(this).text();
    $(this).parents('.dropdown').find('#dropdown_shop-btn')
    .html(s_sel+' <span class="caret"></span>')
    .attr('name', $(this).attr('name'));
});
</script>
<style>
tr.row td{
    font-size: 24px;
    line-height: 38px;
}
li[role=presentation]{
    font-size: 24px;
    line-height: 38px;
}

</style>
{% endblock %}
