{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>

{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}
<div class="page-header">
    <h3>这里是说明</h3>
    <li role="presentation">
    尽量使用Chrome，如果没有，并且无法显示内容，
    请照以下步骤操作，按F12，在第一排找到浏览器模式，选成“IE11”（千万不要选“XX兼容性视图”）,
    同时，文档模式选择“标准”
    </li>
    <li role="presentation">
        预计到店是已经分配给具体的物流站点，应该在取衣的路上，如果超过2天仍没到店，请马上向洗来了客服反馈
    </li>
    <li role="presentation">
        可以在店铺备注处点击，并填入“华海之帮”录入的订单信息，再点弹出的对号（蓝色按钮，部分网络可能显示不了），点“确认收衣”后会保存备注
    </li>
    <li role="presentation">
        待发回是已经确认收到的订单，在洗完后，确认洗涤效果，如果有问题可以写在备注并保存，点击“确认送回”
    </li>
    <li role="presentation">
        搜索框可以直接搜索订单号、客户姓名、客户电话和客户地址，但仅限于当前页面
    </li>
</div>
<nav role="navigation">
<ul class="nav nav-pills">
    <li class="active" id='to_arrive-li'>
        <a href="#">预计到店</a>
    </li>
    <li id='to_send-li'>
        <a href="#">待发回</a>
    </li>
    <li id='sent-li'>
        <a href="#">已发订单</a>
    </li>
</ul>
</nav>
<table id="get_bills-tbl">
</table>
<div id="paginator"></div>

<div class="dropdown" id='clothes-dp' style="display:none">
    <button id="dropdown_clothes-btn" class="btn btn-info dropdown-toggle"  type="button" data-toggle="dropdown" aria-expanded="false">
        点击展开衣物信息
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdown_clothes-btn">
        <li role="presentation" style="display:none"></li>
    </ul>
</div>
<script>{% include "admin/WCLaundry/send_bill.js" %}</script>
<style>
li[role=presentation]{
    font-size: 24px;
    line-height: 38px;
}

</style>
{% endblock %}
