<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>Encode_qid</title>
    <body>
        {% if form.errors %}
            <p style="color: red;">
                {{ form.errors | pluralize }}
            </p>
        {% endif %}
        <form action="" method="post" accept-charset="utf-8">
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" name="submit" value="Submit">
        <p><input type="submit" value="Continue &rarr;"></p>
        </form>
    </body>
</head>
</html>
